**/node_modules

/node_modules
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/.phpunit.cache
/public/manifest.json
/public/hot
/storage/docker
/storage/tmp
/vendor

.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache

.env
docker-compose.yml

# Jangan abaikan file .sh (agar docker/init.sh iku)
!docker/*.sh
